@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
.body{
    margin: 0;
    padding: 0;
    font-family: "Exo",sans-serif;
    }
/*-----------------------------------Header for tablet and desktop style*/
.header-container{
    height: 170px;
    width: 100%;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 20px 40px;
    position: relative;
}
.bg-color-header{
        background-color: #0c0c0c;
        background-size: cover;
}

.name-contacts-section {
    color: #fafafa;
}
.name-contacts-section a {
    color: #fafafa;
}
.restaurant-name {
    font-weight:600;
    letter-spacing: 18px;
    line-height: 20px;
    margin: 20px 0 15px 0;
}
.restaurant-name-subheader{
    font-weight: 300;
    letter-spacing: 15px;
}
.restaurant-name-subheader-h6{
    font-weight: 400;
    letter-spacing: 3px;
}
.contacts-list{
    margin: 20px;
    padding-left: 10%;
}
.contacts-list h5{
    font-weight: 300;
    margin-top: 10px;
}
.contacts-list i{
    width: 20px;
    height: 20px;
}
.contacts-mobile-view-band{
    display: none;
}

.name-contacts-section a:hover {
    color:gray;
    text-decoration: none;
    transition-duration: 0.5s;
}
/*----------------------------------header and navbar hover element----------*/
.navbar-container{
    margin: 0;
    padding: 0;
    top:0px;
    height: auto;
    font-family: "Exo", sans-serif;
    position: relative;
    z-index: 1;
}

.navbar-bg-color{
        background-color: #545b62;
}
nav a i:hover {
    color: #ffbf00;
    text-decoration: none;
    transition-duration: 0.5s;
}
.navbar-brand{
    display: none;
}
.navbar-dark .navbar-brand:hover{
    text-decoration: none;
    transition-duration: 0.5s;
    color: #000;
    
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:#000;
    text-decoration: none;
    transition-duration: 0.5s;
}
/*---------code taken with Google Crome developer tool------------*/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000913;
    border: 2px solid;
    border-radius: 20px;
    background-color: #c9d2da;
    border-color: transparent;
}
/*------------------------end---------------------------*/
.navbar i{
    width: 30px;
    height: 30px;
}
.map-pin-navbar{
    padding: 5px;
    color: #fafafa;
    display: none;
} 
.navbar-expand-sm .navbar-nav .nav-link {
    font-weight: 300;
    padding: 10px 20px;
    color: #fafafa;
}
/*-----------------------code taken using crome developer tools---------*/
.dropdown-item.active, .dropdown-item:active {
    color: #fafafa;
    text-decoration: none;
    background-color: gray;
}
.dropdown-item:hover{
    background-color: #7c98b5;
}
/*--------------------------------end-----------------------------------*/
.navbar-nav .dropdown-menu{
    width: fit-content;
    background-color: #fdf6e5;
}

/*------------------adapt layout  header for screens smaller than 900px------*/
@media screen and (max-width: 900px){
    .contacts-list{
        margin-top: 20px;
        padding-left: 0;
    }
    .name-contacts-section{
        padding: 0 20px;
    }
    .header-container{
        padding: 20px 40px ;
    }
}
/*----------------------------adapt layout header for screens smaller than 775px*/
@media screen and (max-width: 775px){
    .header-container{
        padding: 40px 20px;
    }
    .header-container h6{
        font-size: 15px;
        margin-top:0;
    }
    .restaurant-name {
        font-weight:300;
        letter-spacing: 10px;
        line-height: 15px;
        margin: 15px 0 10px 0;
    }
    .restaurant-name-subheader{
        font-weight: 300;
        letter-spacing: 5px;
        font-size: 13px;
    }
    .contacts-list{
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    .contacts-list h5{
        font-size: 15px;
        font-weight: 300;
        margin-top: 5px;
    }
    .contacts-list i{
        width: 10px;
        height: 10px;
        margin-right: 3px;
    }
    .navbar{
        left: 0px;
        width: 100%;
        position: relative;
    }
    .nav-link{
        font-size: 15px;

    }
}
@media screen and (max-width: 768px){
    .header-container{
        padding: 15px;
        height: 200px;
        position: relative;
    }
    .navbar-container{
        margin: 0;
        padding: 0;
        top:0;
        left: 0;
        position: relative;
    }
    .contacts-list{
        margin-bottom: 10px;
    }
    
}
/*---------------------------style header for mobile devices----*/
@media screen and (max-width: 575px){
    .name-contacts-section{
        display: none;
    }
    .header-container{
        margin: 0;
        padding: 0;
        position: relative;
    }
    /*.header-container{
        padding: 0px;
    }
    .header-container h6{
        font-size: 15px;
        margin-top:0;
    }
    .restaurant-name {
    font-weight:300;
    letter-spacing: 10px;
    line-height: 15px;
    margin: 15px 0 10px 0;
    }
    .restaurant-name-subheader{
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 13px;
    }
    .contacts-list{
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    .contacts-list h5{
        font-size: 15px;
        font-weight: 300;
        margin-top: 5px;
    }
    .contacts-list i{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    }*/
    .navbar {
        top: 0;
        position: fixed;
        background-color:#545b62;
        z-index: 1;
    }
    .navbar-brand{
        display: inline;
    }
    a .nav-link{
        text-align: right;
    }
    .map-pin-navbar{
        display: inline;
        color: #fafafa;
        padding-bottom: 5px;
    }
    .navbar-container a>i{
        width: 20px;
        height: 20px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        font-weight: 200;
        padding-right: 1rem;
        padding-left: 2rem;
        background-color: rgba(0,0,0,0.8);
        width: 50%;
    }
    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        color: #fbf4f5;
        border: 2px solid;
        border-radius: 20px;
        border-color: #545b62;
        background-color: #000;
        margin-top: 4px;
    }
    .contacts-mobile-view-band{
        top: 50px;
        right: 0;    
        width: 50%;
        height: 100px;  
        display: block;
        font-size: 15px;
        margin: 0;
        padding: 10px;
        background-color:rgba(0, 0, 0, 0.25);
        position:absolute;
    }
    .contacts-mobile-view-band p{
        margin-bottom: 8px;
        text-align: center;
        line-height: 20px;
        color: #fafafa;
    }
    .contacts-mobile a{
        color: #fafafa;
    }
    .contacts-mobile a:hover {
        color:gray;
        text-decoration: none;
        transition-duration: 1s;
    }
    .contacts-mobile .btn {
        border-radius: 20px;
        color: #fafafa;
    }
    .btn-success:hover {
        color: #fff;
        border-color: rgb(109, 46, 5);
        background-color: rgb(109, 46, 5);
        transition-duration: 0.5s;
    }
    .footer-message h4{
        font-size:18px;
    }

}

/*-----------------------------------Navbar style for tablet and desktop*/
.navbar-container{
    position : relative;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    width: 100%;
    margin-top: 00px;
}
.navbar{
    padding-bottom: 3px;
    margin-bottom: 0;
    border: 0;
    height: 50px;
    width: 100%;
    
}
.nav-link{
    color: #fafafa;
}
.navbar-brand{
    color: #fafafa;
}
/*---------------------------toggler navigation link-*/
.navbar-toggler{
    border: 0;
    background-color:transparent;
}
.navbar-toggler:hover{
    background-color: rgb(8, 8, 8);
    transition-duration: 0.5s;
}
/*--------------------------- hero image specials section style-*/

/*--------------------------- footer style-*/
.footer-container{
    width: 100%;
    height: auto;
    position: relative;
}
.footer-container-bg-color{
    background-color: #0c0c0c;
}
.footer-message{
    font-family: "Exo", sans-serif;
    font-weight: 200;
    padding: 60px 20px 40px;
    text-align: center;
    text-size-adjust: 80%;
    color: #fafafa;
}
.social-media{
    width: 100%;
    
}
.social-media a{
    margin: auto;
    padding:  50px auto;
    color: #fafafa;
    width: 30px;
    height: 30px;
}
.social-media i :hover{
    background-color:#000;
}
.contacts-footer{
    padding: 20px;
    width: 100%;
    height: auto;
    position: relative;
}
.contacts-footer a, p{
    color: #fafafa;
    text-align: center;
}
.contacts-footer p{
    margin-bottom: 0px;
}
/*---------this code was taken from bootstrap library*/
.row-center{
    text-align: center;
}
.col-center{
    display: inline block;
    float: none;
}
/*---------this code was taken from bootstrap library --End--*/
.social-media a>i:hover{
    color:#ffbf00;
    text-decoration: none;
    transition-duration: 0.5s
}
.social-media a:hover{
    text-decoration: none;
    transition-duration: 0.5s;
    color:gray;
    }
.hr-footer{
    width: 50%;
    height: 0.2px;
    background-color: #fafafa;
    margin-top: 20px;
    margin-bottom: 20px;

}
.credit-card-icon{
    width: 100%
}
.credit-card-icon i{
    padding: 15px 20px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fafafa;
}
/*------------------------styling hero image section index.html----*/
/*--------------------code taken from whiskey drop project - code institute---------*/

.specials-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 720px;
    position: relative;  
}
.hero-image{
    height: 720px;
    background: url("../images/vishwas-katti-UrQ_BS9bLXQ-unsplash.jpg") no-repeat bottom right ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.special-pre-theatre{
    top: 30px;
    left: 10%;
    padding: 50px 50px;
    width: 350px;
    height: 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20%;
    text-align: center;
}
.btn-success{
    background-color:#545b62;
    border-color: #545b62; 
    margin-top: 10px;
    border-radius: 20px;
}
.btn-success:hover{
    transition-duration: 0.5s;
    background-color: #fafafa;
    border-radius: 20px;
    color: #000;
    border-color: transparent; 
}
.specials-container a{
    color: #fafafa;
}
.specials-container a:hover{
    color: rgb(255, 187, 0);
    text-decoration: none;
    transition-duration: 0.5s;
}
.special-sunday{
    top: 60px;
    left: 10%;
    padding: 50px 50px;
    width: 350px;
    height: 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20%;
    text-align: center;
}
.special-sunday p{
    color: #fafafa;
    margin-bottom: 0px;
    
}   
.special-take-away{
    top: 90px;
    left: 10%;
    padding: 50px 50px;
    width: 350px;
    height: 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20%;
    text-align: center;
}
@media screen and (max-width: 575px) {
    .specials-container{
        height: 510px;
    }
    .special-pre-theatre{
        top: 0;
        left: 0;
        padding: 20px 20px;
        width: 100%;
        height: 150px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0%;
        text-align: center;
    }
    .special-sunday{
        top: 30px;
        left: 0;
        padding: 20px 20px;
        width: 100%;
        height: 150px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0%;
        text-align: center;
    }
    .special-take-away{
        top: 60px;
        left: 0;
        padding: 20px 20px;
        width: 100%;
        height: 150px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0%;
        text-align: center;
    }
}
/*----------------------------------style review section index.html-------------------*/
.reviews-container{
    padding:50px 50px;
}
.reviews-container-bg-color{
    background-color: #c7d2dc;
}
.reviews-container-message{
    color: #000000;
    text-align: center;
    padding: 20px 20px 40px;
}
.hr-reviews{
    background-color: #000000;
    width: 80%;
    height: 0.5px;
}
.review-header{
    padding: 30px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}
.review{
    text-align: center;
}
.reviews-container i{
    color: #000000;
}
.reviews-container p{
    color: #000;
    padding: 30px;
}
@media screen and (max-width: 575px){
    .reviews-container{
        padding: 20px 5px;
    }
    .reviews-container-message h2{
        font-size: 20px;
    }
    .hr-reviews{
        width: 60%;
    }
}
/*--------------------------Styling a-la-carte.html/group-meny.html/pre-theatre.html/wine-list.html menu section----------------*/
.menu-container{
    font-family: "Exo", sans-serif;
    width: 100%;
    height: auto;
    padding:50px;
    color: #fafafa;
}
.menu-container-bg-color{
    background-color: #333;
}
.menu-container-bg-image{
    height: auto;
    background: url("../images/black-texture.jpg") no-repeat bottom right ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wine-list-container{
    font-family: "Exo", sans-serif;
    width: 100%;
    height: auto;
    padding:0;
    color: #fafafa;
}
.wine-list-bg-image{
    height: auto;
    background: url("../images/arisa-chattasa-Hi0eZI8LSYU-unsplash.jpg") no-repeat bottom right ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.image-overlay{
    position:relative;
    background-color: rgba(0,0,0,0.8);
    
}
.menu-header{
    text-align: center;
    padding: 20px;
}
h3{
    padding-bottom: 15px;
    text-align: center;
}
.menu-title p{
    font-size: 15px;
    padding-bottom: 20px;
}
.download-link{
    font-size: 15px;
}
.download-link a, i{
    color: #fafafa;
}
.download-link :hover{
    border: 0.5px solid;
    border-color: #fafafa;
    color: #fafafa;
    text-decoration: none;
    transition-duration: 0.5s;
}
.hr-top-menu{
    width: 50%;
    background-color: #fafafa;
    height: 0.2px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.hr-mid-menu{
    width: 30%;
    background-color: #fafafa;
    height: 0.2px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.food-items ul{
    list-style-type: none;
    padding: 10px;
}
.food-items h4, li{
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
    text-transform: capitalize;
}
@media screen and (max-width: 575px){
    menu.container{
        padding:20px 10px;
    }
    .menu-header{
        padding: 0;
    }
    .download-link{
        font-size: 10px;
    }
    .download-link a:hover{
        border: 0.5px solid;
        border-color: #fafafa;
        color: #fafafa;
        text-decoration: none;
        transition-duration: 0.5s;
    }
    .food-items h4, li{
        font-size: 90%;
    }
}
/*------------------sizing images for the galley page--------------------------*/
.gallery-container{
    width: 100%;
    padding: 0px 40px;
}
.gallery-bg-color{
    background-color: gray;
}
.gallery-message h3{
    color:#fafafa;
    padding-top: 40px;
    padding-bottom: 40px; 
}
.gallery-image {
    max-width: 500px ;
    max-height: auto;
    border-radius: 8px;
    display: block;
    margin: auto;
}
.hr-gallery{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #000000;
    width: 20%;
}
.hr-gallery-bottom{
    margin-top: 40px;
    margin-bottom: 0;
    background-color: gray;
    width: 20%;
}
@media screen and (max-width: 575px){
    .gallery-container{
        padding: 0 5px;
    }
    .gallery-message h3{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gallery-image{
        max-width: 100%;
        max-height: auto;
    }
    .hr-gallery{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .hr-gallery-bottom{
        margin-top: 30px;
    }
}
/*------------------------contact page form style--------------------*/
.contact-container-bg-color{
    background-color: gray;
}
.jumbotron{
    text-align: center;
    background-color: transparent;
    color: #fafafa;
    margin: 0;
    height: auto;
}
.enquiry-form-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.request{
    width: 60%;
    height: 200px;
}
@media screen and (max-width: 900px){
    .enquiry-form-item{
    margin-top: 15px;
    margin-bottom: 15px;
    }
    .request{
        width: 90%;
        height: 300px;
    }
}