@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
.body{
    font-family: "Exo",sans-serif;
}
.bg-image{ 
        height: 100vh;
        background: url("/assets/images/jojo-sharemyfoodd-P-euaXq54UI-unsplash.jpg") no-repeat top left fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
/*-----------------------------------Colours for tablet and desktop view*/
@media screen and (min-width: 575px){
/*----bg-image code taken from -https://css-tricks.com/perfect-full-page-background-image/ ---*/
    /*.bg-image{ 
        background: url("/assets/images/—Pngtree—cartoon black food poster background_1035986.jpg") no-repeat top left fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }*/
    .bg-color-header{
        background-color: rgba(0, 0, 0, 0.50);
        background-size: cover;
    }
    .navbar-bg-color{
        background-color: rgba(0, 0, 0, 0.50);
    }
}

/*-----------------------------------Header for tablet and desktop style*/
.header-container{
    height: 230px;
    width: 100%;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 20px 40px;
    
}
.name-contacts-section {
    color: #fafafa;
}
.name-contacts-section a {
    color: #fafafa;
}.restaurant-name {
    font-weight:600;
    letter-spacing: 18px;
    line-height: 20px;
    margin: 20px 0 15px 0;
}.restaurant-name-subheader{
    font-weight: 300;
    letter-spacing: 15px;
}
.restaurant-name-subheader-h6{
    font-weight: 400;
    letter-spacing: 3px;
}
.contacts-list{
    margin: 20px;
    padding-left: 10%;
}
.contacts-list h5{
    font-weight: 300;
    margin-top: 10px;
}
.contacts-list i{
    width: 20px;
    height: 20px;
}
.contacts-mobile-view-band{
    display: none;
}
/*----------------------------------header and navbar hover element----------*/
.name-contacts-section a:hover {
    color:gray;
    text-decoration: none;
    transition-duration: 1s;
}
.navbar-bg-color{
    background-color:rgba(0, 0, 0, 0.25);
}
nav a:hover {
    color:gray;
    text-decoration: none;
    transition-duration: 1s;
}
.navbar-brand{
    display: none;
}
.navbar-dark .navbar-brand:hover{
    color:gray;
    text-decoration: none;
    transition-duration: 1s;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:gray;
    text-decoration: none;
    transition-duration: 1s;
}


.navbar i{
    width: 30px;
    height: 30px;
}
.map-pin-navbar{
    padding: 5px;
    color: #fafafa;
    display: none;
} 
.navbar-expand-sm .navbar-nav .nav-link {
    font-weight: 200;
    padding: 10px 20px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: gray;
}
/*------------------adapt layout  header for screens smaller than 900px------*/
@media screen and (max-width: 900px){
    .contacts-list{
        margin-top: 20px;
        padding-left: 0;
    }
    .name-contacts-section{
        padding: 0 20px;
    }
    .header-container{
        padding: 20px 40px ;
    }
}
/*----------------------------adapt layout header for screens smaller than 775px*/
@media screen and (max-width: 775px){
    
    
    .header-container{
        padding: 0px;
    }
    .header-container h6{
        font-size: 15px;
        margin-top:0;
    }
    .restaurant-name {
    font-weight:300;
    letter-spacing: 10px;
    line-height: 15px;
    margin: 15px 0 10px 0;
    }
    .restaurant-name-subheader{
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 13px;
    }
    .contacts-list{
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    .contacts-list h5{
        font-size: 15px;
        font-weight: 300;
        margin-top: 5px;
    }
    .contacts-list i{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    }
    .navbar{
    top: 180px;
    position: fixed;
    }
    .nav-link{
        font-size: 15px;

    }
}
/*---------------------------style header for mobile devices----*/
@media screen and (max-width: 575px){
    .name-contacts-section{
        display: none;
    }
    /*.header-container{
        padding: 0px;
    }
    .header-container h6{
        font-size: 15px;
        margin-top:0;
    }
    .restaurant-name {
    font-weight:300;
    letter-spacing: 10px;
    line-height: 15px;
    margin: 15px 0 10px 0;
    }
    .restaurant-name-subheader{
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 13px;
    }
    .contacts-list{
        text-align: center;
        padding: 0;
        margin-top: 10px;
    }
    .contacts-list h5{
        font-size: 15px;
        font-weight: 300;
        margin-top: 5px;
    }
    .contacts-list i{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    }*/
    .navbar{
    top: 0;
    position: fixed;
    }
    .navbar-brand{
        display: inline;
    }
    a .nav-link{
        text-align: right;
    }
    .map-pin-navbar{
        display: inline;
        color: #fafafa;
        padding-bottom: 5px;
    }
    .navbar-container a>i{
    width: 20px;
    height: 20px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
    font-weight: 200;
    padding-right: 1rem;
    padding-left: 2rem;
}
    .contacts-mobile-view-band{
    top: 50px;
    right: 0;    
    width: 50%;
    height: 100px;  
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.25);
    position:absolute;
    }
    .contacts-mobile-view-band p{
        margin-bottom: 8px;
        text-align: center;
        line-height: 20px;
        color: #fafafa;
    }
    .contacts-mobile a{
        color: #fafafa;
    }
    .contacts-mobile a:hover {
    color:gray;
    text-decoration: none;
    transition-duration: 1s;
    }
    .footer-message h4{
        font-size:18px;
    }
    
}

/*-----------------------------------Navbar style for tablet and desktop*/
.navbar-container{
    top: 180px;
    left: 0;
    position : absolute;
    padding-left: 0;
    padding-right: 0;
}
.navbar{
    margin-bottom: 0;
    border: 0;
    height: 50px;
    width: 100%;
    
}
.nav-link{
    color: #fafafa;
}
.navbar-brand{
    color: #fafafa;
}
/*---------------------------toggler navigation link-*/
.navbar-toggler{
    border: 0;
    background-color:transparent;
}
.navbar-toggler:hover{
    background-color: rgb(109, 95, 56);
    transition-duration: 1s;
}
/*--------------------------- footer style-*/
.footer-container{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: rgb(109, 46, 5);
    position: absolute;
}
.footer-message{
    font-family: "Exo", sans-serif;
    font-weight: 200;
    padding: 20px;
    text-align: center;
    text-size-adjust: 80%;
    color: #fafafa;
}
.social-media{
    width: 100%;
}
.social-media a{
    margin: auto;
    padding:  30px auto;
    color: #fafafa;
    width: 30px;
    height: 30px;
}
/*---------this code was taken from bootstrap library*/
.row-center{
    text-align: center;
}
.col-center{
    display: inline block;
    float: none;
}
.social-media a:hover{
    color:gray;
    text-decoration: none;
    transition-duration: 1s;
}
.hr-footer{
    width: 50%;
    height: 0.5px;
    background-color: #fafafa;

}
.credit-card-icon{
    width: 100%
}
.credit-card-icon i{
    padding: 15px 20px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fafafa;
}